    <section class="home-journey">
    </section>


THIS IS A DASHBOARD THAT SHOWS ALL 7 TILES FOR THE USER

<h1>This is a H1</h1>
<h2>This is a H2</h2>

<p>I will link some pages for now </p>

<!-- please check the params current user with the correct input -->
<%= link_to 'Digital Will', digital_will_path(@funeral.funeral_type.id)%>
<%= link_to 'Funeral Type', digital_will_path(@funeral.funeral_type.id)%>
<%#= link_to 'Documents', digital_will_path(@funeral.document.id)%>
<%#= link_to 'Playlist', digital_will_path(@funeral.playlist.id)%>
<%#= link_to 'Representative', digital_will_path(@funeral.representative.id)%>




<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
vLorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.</p>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
vLorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.</p>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
vLorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.</p>


<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.
vLorem ipsum dolor sit amet consectetur adipisicing elit. Est aliquid, at nam repellendus vitae beatae earum vero quam similique eligendi, harum a perferendis cupiditate, dicta aut ducimus expedita fuga sit.
Inventore repellat eum corporis error incidunt, impedit atque, ea laboriosam. Obcaecati dolor molestias temporibus fugiat harum ex voluptates quas dolorum ducimus id, minus in, tenetur quis consequuntur omnis nostrum debitis.
Ea numquam corporis excepturi accusantium, facilis? Rem necessitatibus officia omnis doloremque asperiores iste perferendis ducimus velit blanditiis dignissimos ipsa atque, vitae ullam quibusdam quaerat, cum. Repellendus impedit, doloribus saepe cum.</p>

