<%= @funeral.preferences[:documents][:doc_comment] %>


<form action='/update_documents' accept-charset="UTF-8" method=“patch”>
  <label for='comment_doc'>Enter your document comment</label><br>
  <input type='text' id='comment_doc' value='<%= @funeral.preferences[:documents][:doc_comment] %>' name='comment_doc'><br>
  <input type='submit' value='Submit' class='btn btn-primary'>
</form>


