//checkout
.checkout-tree {
  width: 15%;
}

.checkout {

}

//checkout pop up effect
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  background-color: rgb(62, 47, 91);
  // background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 0%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 60px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay h1 {
  padding: 8px;
  text-decoration: none;
  font-size: 60px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay p {
  padding: 8px;
  text-decoration: none;
  font-size: 30px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

// checkout glow effect

.glow {
  // font-size: 80px;
  // color: #fff;
  // text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

//based on wrapper .sectionwrapper1
.obituary-wrapper {
    position: relative;
    width: 100%;
}
//based on .category-box from representative view, but full width
.category-box-full {
    margin-top: 20px;
    margin-bottom: 5px;
    background-color: #ECEAEF;
    /* height: 134px; */
    border-radius: 20px;
    border: 3px solid #3E2F5B;
    /* margin-right: 5px; */
    width: 100%;
    padding: 15px;
  }

//below classes from mo

// padding helper

.default-padding-top {
  padding-top: 12px;
}

.default-padding-box {
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 2%;
}

.nopadding-box {
  padding-right: 0px !important;
  padding-left: 0px !important;
}


// font style classes for whole page


.font-style h1 {
  font-family: "Montserrat", "sans-serif";
  font-size: 25px;
  color: black;
  font-weight: bold;
  line-height: 1;
}

.font-style h2 {
 font-family: "Montserrat", "sans-serif";
  font-size: 20px;
  font-weight: bold;
  color: black;
  line-height: 1;
}

.font-style h3 {
  font-family: "Montserrat", "sans-serif";
  font-size: 18px;

  color: black;
}

.font-style label {
  font-family: "Montserrat", "sans-serif";
  font-size: 15px;
  font-weigth: lighter;
  color: black;
}

.font-style p {
  font-family: "Montserrat", "sans-serif";
  line-height: 1.2;
  font-size: 16px;
  color: black;
}

.border-top {
  border-top: 2px dotted black;
}


// main notice section at top

.notice {
  border: 3px solid $main1;
  border-radius: 20px;
  height: 100%;
  width: 75%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  background-color: snow;
  // padding-top: 3%;
  // white-space: nowrap;
}

.notice-infos {
  width: 700px;
  align-self: center;
}

.notice img {
  padding-top: 10px;
  padding-bottom: 10px;
}

//cards for condolences

.condolences {
  border: 1px solid $main1;
  width: 75%;
  height: 100%;
  padding-top: 30px;
  // padding-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
  // padding: 30px;
  // padding-top: 3%;
}

.card-condolence-wrapper {
  overflow: scroll;
  height: 300px;
}

.condolence-input {
  padding-right: 15%;
  padding-left: 15%;
}


.card-condolence {

  min-height: 120px;
  height: auto;
  background: $main2;
  border-top: 1px solid black;
  display: flex;
  align-items: center;
  padding-right: 15%;
  padding-left: 15%;
  flex-grow: 1;
}

.card-condolence img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-condolence h2 {

  font-weight: bold;
  margin: 0;
  text-align: center;
}

.card-condolence p {

  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: center;
}

.card-condolence a {

  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  text-align: center;
}

.card-condolence .card-condolence-infos {
  padding: 16px;
  flex-grow: 1;
}


.lj-carousel-box {
  border: 1px solid $main1;
  width: 75%;
  height: 400px;
  // padding-top: 30px;
  // padding-bottom: 20px;
  border-radius: 20px;
  overflow: hidden;
  // display: flex;
  // content: hidden;
  // padding: 30px;
  // padding-top: 3%;
}

.lj-carousel-box .carousel-item .active {
  width: 100% !important;
}


// .gallery {
//   width: 100%;
//   height: 100%;

//   // border: 10px solid black;
// }




// spotify player box

.spotify-public {
  border: 1px solid $main1;
  border-radius: 20px;
  width: 75%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: hidden;
  // flex-grow: 1;

  // padding: 30px;
  // padding-top: 3%;
}


