<div class="footer d-flex flex-column align-items-center">
  <div class="footer-links mb-5">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Company</th>
      <th scope="col">Regions</th>
      <th scope="col">Sections</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>About us</td>
      <td>EU</td>
      <td>Help center</td>
    </tr>
    <tr>
      <td>Services</td>
      <td>Germany</td>
      <td>Contact us</td>
    </tr>
    <tr>
      <td>Blog</td>
      <td>Austria</td>
      <td>Instructions</td>
    </tr>
    <tr>
      <td>Imprint</td>
      <td>Switzerland</td>
      <td>How it works</td>
    </tr>
  </tbody>
</table>
</div>



