<h1>Condolences#create</h1>
<p>Find me in app/views/condolences/create.html.erb</p>

<%= link_to 'Edit', edit_condolence_path(@condolence) %> |
<%= link_to 'Back', condolence_path %> |
<%= link_to 'Leave a Condolence', new_condolence_path(@condolence) %>