<div class="container">
<h1>Last Journey Blog</h1>


<div class="card bg-dark text-white mt-5">
  <img class="card-img" src="https://images.unsplash.com/photo-1503756234508-e32369269deb?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=375&q=80" alt="Card image">
  <div class="card-img-overlay">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    <p class="card-text">Last updated 3 mins ago</p>
  </div>
</div>


<div class="container d-flex justify-content-between mt-5">
      <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1511671782779-c97d3d27a1d4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80" />
      <div class="card-trip-infos">
        <div class="d-flex flex-column align-items-center">
          <h2> <i class="fas fa-tv"></i></h2>
          <h2>Funeral Speaker</h2>
          <p>Watch Anke Engelke as funeral speaker turning everything up side down. </p>
        </div>
        <a href="https://www.netflix.com/de/title/81047320" class="stretched-link"></a>
      </div>
    </div>

      <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1525466760727-1d8be8721154?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80" />
      <div class="card-trip-infos">
        <div class="d-flex flex-column align-items-center">
          <h2><i class="fas fa-book-reader"></i></h2>
          <h2>Funeral Insurance</h2>
          <p>What kind of insurance exists and when does it make sense? </p>
        </div>
        <a href="https://www.bestattungsinstitut-schmidt.de/2017/08/14/sterbegeldversicherung-versus-treuhand-bestattungsvorsorgevertrag/" class="stretched-link"></a>
      </div>
    </div>

      <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1575118201322-dfb49a46a28a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=500&q=80" />
      <div class="card-trip-infos">
        <div class="d-flex flex-column align-items-center">
          <h2><i class="fas fa-podcast"></i></h2>
          <h2>Learn to grief</h2>
          <p>Insightful podcast about grief - what is it and how does it work. </p>
        </div>
         <a href="https://play.acast.com/s/griefworks" class="stretched-link"></a>
      </div>
    </div>
</div>






</div>
