    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://images.unsplash.com/photo-1498550744921-75f79806b8a7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b0f6908fa5e81286213c7211276e6b3d&auto=format&fit=crop&w=1500&q=80');">
      <div class="d-flex flex-column justify-content-center align-items-center">
        <%= image_tag("logo_tree_w", class: "logo") %>
        <h1>Last Journey</h1>
        <%= link_to 'Get peace of mind now', funerals_dashboard_path, class: "btn btn-lj-big" %>
      </div>
    </div>



<div class="container d-flex justify-content-center flex-column align-items-center mt-4 mb-4">
  <h2>Take a burden of yourself and your beloved ones</h2>
  <p>How it works</p>
</div>


<div class="container d-flex justify-content-between">
      <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1544813545-4827b64fcacb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" />
      <div class="card-trip-infos">
        <div class="d-flex flex-column align-items-center">
          <h2>Your Style</h2>
          <p>Plan your individual funeral and last will</p>
        </div>
      </div>
    </div>

      <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=967&q=80" />
      <div class="card-trip-infos">
        <div class="d-flex flex-column align-items-center">
          <h2>Your rep</h2>
          <p>Assign your representative</p>
        </div>
      </div>
    </div>

      <div class="card-trip">
      <img src="https://images.unsplash.com/photo-1533069027836-fa937181a8ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" />
      <div class="card-trip-infos">
        <div class="d-flex flex-column align-items-center">
          <h2>Your obituary</h2>
          <p>Find your peace while everything will happen according to your wishes</p>
        </div>
      </div>
    </div>
</div>


<div class="container d-flex justify-content-center flex-column align-items-center mt-4 mb-4">
<p>Make sure no one will access your nude pics and your last wishes are passed on. Your life is digital, so should be your choices what happens to your digital life after death.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, esse? Omnis, tenetur commodi saepe adipisci itaque quam ducimus quos molestias aut. Accusamus, pariatur praesentium dolorum expedita mollitia possimus earum. Officia.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, esse? Omnis, tenetur commodi saepe adipisci itaque quam ducimus quos molestias aut. Accusamus, pariatur praesentium dolorum expedita mollitia possimus earum. Officia.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, esse? Omnis, tenetur commodi saepe adipisci itaque quam ducimus quos molestias aut. Accusamus, pariatur praesentium dolorum expedita mollitia possimus earum. Officia.</p>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex, esse? Omnis, tenetur commodi saepe adipisci itaque quam ducimus quos molestias aut. Accusamus, pariatur praesentium dolorum expedita mollitia possimus earum. Officia.</p>
</div>

