
// playlist / music illustrations

.illustration-music{
  width: 300px;
  margin: 50px;
}

.illustration-cloud-documents1 {
  position: absolute;
  // width: 518px;
  height: 200px;
  // right: -200px;
  right: -20%;
  top: 5%;
  // top: 5%;
  z-index: 1;
}

// funeral types illustrations
.illustration-angel{
  width: 300px;
  margin: 50px;
}

.illustration-cloud {
  position: absolute;
  width: 518px;
  height: 268px;
  left: -22%;
  top: 5%;
  z-index: 1;
  width: -190px;
}
// below only illustrations on home

.illustration-cover {
  width: 550px;
}

.illustration-done {
  position: absolute;
  width: 300px;
  left: 100px;
  top: 65px;
  // top: 400px;
  // height: 268px;
  // left: -22%;
  // top: 5%;
  // z-index: 1;
  // width: -190px;
}

.illustration-obituary {
  position: absolute;
  width: 300px;
  top: 65px;
  // top: 400px;
  // height: 268px;
  // left: -22%;
  // top: 5%;
  // z-index: 1;
  // width: -190px;

}

.illustration-cloud-home1 {
  position: absolute;
  // width: 518px;
  height: 200px;
  // right: -200px;
  left: 65%;

  // top: 5%;
  z-index: 1;
  // width: -190px;
}

.illustration-cloud-home2 {
  position: absolute;
  // width: 518px;
  height: 250px;
  // right: -200px;
  right: 0%;


  top: 300px;

  // width: -190px;
}
