.illustration-angel{
  width: 300px;
  margin: 50px;
}

.illustration-cloud {
  position: absolute;
  width: 518px;
  height: 268px;
  left: -22%;
  top: 5%;
  z-index: 1;
  width: -190px;
}

.illustration-cover {
  width: 550px;
}

.illustration-done {
  position: absolute;
  width: 300px;
  left: 100px;
  top: 65px;
  // top: 400px;
  // height: 268px;
  // left: -22%;
  // top: 5%;
  // z-index: 1;
  // width: -190px;

}

.illustration-obituary {
  position: absolute;
  width: 300px;
  top: 65px;
  // top: 400px;
  // height: 268px;
  // left: -22%;
  // top: 5%;
  // z-index: 1;
  // width: -190px;

}
